<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">

<!-- Head template -->
<head th:fragment="dochead">

	<meta charset="utf-8" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	
	<!-- Custom styles -->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	
	<title></title>

</head>


<!-- Navbar template -->
<nav th:fragment="nav" class="navbar navbar-static-top navbar-custom">

	<a class="navbar-brand" href="/">Epsilon</a>
	
	<ul class="nav navbar-nav">
	
		<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
		
		<li class="nav-item"><a class="nav-link inactive" href="/">Explore</a></li>
		
		<li class="nav-item"><a class="nav-link inactive" href="/">My Playlists</a></li>
		
		<li class="nav-item"><a class="nav-link inactive" href="/">Recent</a></li>
	
	</ul>
	
</nav>

<!-- Footer template -->
<footer th:fragment="footer" class="footer navbar-fixed-bottom footer-custom">

	<small>
		Mel Grigg | <a href="https://github.com/Sparrowing">Sparrowing</a> | 2017
	</small>

</footer>

</html>